In [4]:
# Load python Library

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import RobustScaler

In [5]:
cd C:\Users\Lenovo\Downloads

C:\Users\Lenovo\Downloads

In [6]:
# Get Data

data = pd.read_csv('master.csv')

In [7]:
# View Data

data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [8]:
# Check unique value 

data['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [9]:
# Check column by list 

Age=list(data['age'])

In [10]:
Age

['15-24 years',
 '35-54 years',
 '15-24 years',
 '75+ years',
 '25-34 years',
 '75+ years',
 '35-54 years',
 '25-34 years',
 '55-74 years',
 '5-14 years',
 '55-74 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '75+ years',
 '35-54 years',
 '55-74 years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '5-14 years',
 '75+ years',
 '5-14 years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '5-14 years',
 '75+ years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '75+ years',
 '25-34 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '75+ years',
 '55-74 years',
 '75+ years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '5-14 years',
 '5-14 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '15-24 years',
 '75+ years',
 '35-54 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '15-24 years',
 '75+ years',
 '25-34 years',
 '35-54 years',
 '35-54 years',
 '55-74 years',
 '55-74 years',
 '5-14 years',
 '5-14 years',
 '25-34 years',
 '15-24 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '75+ years',
 '35-54 years',
 '5-14 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '75+ years',
 '15-24 years',
 '75+ years',
 '35-54 years',
 '25-34 years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '5-14 years',
 '5-14 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '75+ years',
 '15-24 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '5-14 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '15-24 years',
 '35-54 years',
 '75+ years',
 '55-74 years',
 '5-14 years',
 '25-34 years',
 '5-14 years',
 '75+ years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '15-24 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '55-74 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '25-34 years',
 '35-54 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '15-24 years',
 '75+ years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '55-74 years',
 '5-14 years',
 '5-14 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '75+ years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '25-34 years',
 '15-24 years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '5-14 years',
 '5-14 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '5-14 years',
 '5-14 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '75+ years',
 '35-54 years',
 '55-74 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '25-34 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '5-14 years',
 '55-74 years',
 '75+ years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '55-74 years',
 '25-34 years',
 '75+ years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '75+ years',
 '55-74 years',
 '25-34 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '75+ years',
 '55-74 years',
 '25-34 years',
 '15-24 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '75+ years',
 '25-34 years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '75+ years',
 '25-34 years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '15-24 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '35-54 years',
 '55-74 years',
 '25-34 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '35-54 years',
 '55-74 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '25-34 years',
 '55-74 years',
 '35-54 years',
 '15-24 years',
 '35-54 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '75+ years',
 '5-14 years',
 '5-14 years',
 '35-54 years',
 '75+ years',
 '55-74 years',
 '25-34 years',
 '35-54 years',
 '15-24 years',
 '55-74 years',
 '75+ years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '25-34 years',
 '55-74 years',
 '55-74 years',
 '35-54 years',
 '75+ years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '15-24 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '35-54 years',
 '25-34 years',
 '55-74 years',
 '75+ years',
 '15-24 years',
 '35-54 years',
 '15-24 years',
 '25-34 years',
 '5-14 years',
 '5-14 years',
 '75+ years',
 '55-74 years',
 '75+ years',
 '35-54 years',
 ...]

In [11]:
# Spliting Age Column

minimum_age=[]
maximum_age=[]

for i in range(len(Age)):
    
    minimum_age.append(Age[i].split()[0].split(sep='-')[-1])
    maximum_age.append(Age[i].split()[0].split(sep='-')[0])

In [12]:
data['max_age']=maximum_age
data['min_age']=minimum_age

In [13]:
# Replace in column value

data= data.replace('75+ years', 76)

In [14]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,max_age,min_age
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,15,24
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,35,54
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,15,24
3,Albania,1987,male,76,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,75+,75+
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,25,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X,35,54
27816,Uzbekistan,2014,female,76,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent,75+,75+
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,5,14
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,5,14
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers,55,74

In [15]:
# View data's columns & row

data.shape

(27820, 14)

In [12]:
# Check column data-type

data.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
max_age                object
min_age                object
dtype: object

In [13]:
# check data's info like null value, data-type, data-size

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
 12  max_age             27820 non-null  object
 13  min_age             27820 non-null  object
dtypes: float64(2), int64(4), object(8)
memory usage: 3.0+ MB

In [14]:
# View all data columns

data.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation', 'max_age',
       'min_age'],
      dtype='object')

In [15]:
data['age'].unique()

array(['15-24 years', '35-54 years', 76, '25-34 years', '55-74 years',
       '5-14 years'], dtype=object)

In [17]:
# check null value in data

data.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
max_age                   0
min_age                   0
dtype: int64

In [22]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,max_age,min_age
0,Albania,1987,male,Adolescent,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,15,24
1,Albania,1987,male,tricenurian,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,35,54
2,Albania,1987,female,Adolescent,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,15,24
3,Albania,1987,male,76,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,75+,75+
4,Albania,1987,male,Adult,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,25,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,tricenurian,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X,35,54
27816,Uzbekistan,2014,female,76,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent,75+,75+
27817,Uzbekistan,2014,male,Child,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,5,14
27818,Uzbekistan,2014,female,Child,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,5,14
27819,Uzbekistan,2014,female,Senior,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers,55,74

In [23]:
# Delete column

data.drop(['HDI for year'],axis=1,inplace=True)

In [24]:
# Data's statical view

data.describe()

,year,suicides_no,population,suicides/100k pop,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,126352.000000

In [25]:
data.drop(['age'],axis=1,inplace=True)

In [26]:
data

,country,year,sex,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,max_age,min_age
0,Albania,1987,male,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,15,24
1,Albania,1987,male,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent,35,54
2,Albania,1987,female,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X,15,24
3,Albania,1987,male,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation,75+,75+
4,Albania,1987,male,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers,25,34
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,107,3620833,2.96,Uzbekistan2014,"63,067,077,179",2309,Generation X,35,54
27816,Uzbekistan,2014,female,9,348465,2.58,Uzbekistan2014,"63,067,077,179",2309,Silent,75+,75+
27817,Uzbekistan,2014,male,60,2762158,2.17,Uzbekistan2014,"63,067,077,179",2309,Generation Z,5,14
27818,Uzbekistan,2014,female,44,2631600,1.67,Uzbekistan2014,"63,067,077,179",2309,Generation Z,5,14
27819,Uzbekistan,2014,female,21,1438935,1.46,Uzbekistan2014,"63,067,077,179",2309,Boomers,55,74

In [27]:
# String to numeric data label-encoding

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [28]:
data = data.apply(le.fit_transform)

In [29]:
data

,country,year,sex,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,max_age,min_age
0,0,2,1,21,9950,670,0,726,83,2,0,1
1,0,2,1,16,9835,518,0,726,83,5,2,3
2,0,2,0,14,9358,482,0,726,83,2,0,1
3,0,2,1,1,2606,458,0,726,83,1,5,5
4,0,2,1,9,8945,327,0,726,83,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,100,29,0,107,21487,295,2320,1936,355,2,2,3
27816,100,29,0,9,10720,257,2320,1936,355,5,5,5
27817,100,29,1,60,20457,216,2320,1936,355,3,3,0
27818,100,29,0,44,20332,166,2320,1936,355,3,3,0
27819,100,29,0,21,18506,145,2320,1936,355,0,4,4

In [30]:
data.isnull().sum()

country               0
year                  0
sex                   0
suicides_no           0
population            0
suicides/100k pop     0
country-year          0
 gdp_for_year ($)     0
gdp_per_capita ($)    0
generation            0
max_age               0
min_age               0
dtype: int64

In [35]:
# Split data for ML model creation

X = data.drop(['suicides_no'],axis=1)
Y = data.suicides_no

In [36]:
Y

0         21
1         16
2         14
3          1
4          9
        ...
27815    107
27816      9
27817     60
27818     44
27819     21
Name: suicides_no, Length: 27820, dtype: int64

In [37]:
# ML algorithm

from sklearn.ensemble import RandomForestRegressor

In [38]:
Rf= RandomForestRegressor()

In [39]:
Rf.fit(X,Y)

RandomForestRegressor()

In [40]:
# Training data Accuracy

Rf.score(X,Y)

0.9999469079781073

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [46]:
model=Rf.fit(X_train,Y_train)

In [47]:
# Testing data Accuracy

model.score(X_test,Y_test)

0.9995664357424909